@model TaskToDo_WebApp.Models.ViewModel.ToDoTaskVM

<div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10">
        <table class="table">
            <thead>
            <tr class="table-primary">
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var t in Model.ToDoTasksList)
            {
                <tr>
                    <th class="todos-column" scope="row">@t.TaskId</th>
                    <td class="todos-column">@t.Name</td>
                    <td class="buttons-column">
                        <form asp-controller="Home" asp-action="Delete" asp-route-id="@t.TaskId" method="post">
                            <button type="submit" class="btn btn-danger">
                                Delete
                            </button>
                        </form> 
                        <form asp-controller="Home" asp-action="Update" asp-route-id="@t.TaskId" method="post">
                            <button type="submit" class="btn btn-danger">
                                Update
                            </button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>