@model IEnumerable<TaskToDo_WebApp.Models.ToDoTask>

@{
    ViewData["Title"] = "Tasks";
}

<div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10">
        <p>
            <a asp-controller="Home" asp-action="Insert">Create New Task</a>
        </p>
    </div>
</div>

<form asp-controller="Home" asp-action="Index">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10 mb-3">
            <label>Date added: <input type="text" name="SearchDate"/></label>
            <input type="submit" value="Filter"/>
        </div>
    </div>
</form>

<div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10">
        <table class="table">
            <thead>
            <tr class="table-primary">
                <th scope="col">Date Added</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="border-1">
            @foreach (var t in Model)
            {
                <tr>
                    <td class="todos-column">@t.DateAdded</td>
                    <td class="todos-column w-50">@t.Name</td>
                    <td class="buttons-column">
                        <a asp-controller="Home" asp-action="Delete" asp-route-id="@t.TaskId">
                            <button type="submit" class="btn btn-danger">
                                Delete
                            </button>
                        </a>
                    </td>
                    <td class="buttons-column">
                        <a asp-controller="Home" asp-action="Update" asp-route-id="@t.TaskId">
                            <button class="btn btn-primary">
                                Update
                            </button>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>