@model TaskToDo_WebApp.Models.ToDoTask

@{
    ViewData["Title"] = "Insert Task";
}

<div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10">
        <form asp-action="Insert">
            <table class="table">
                <thead>
                <tr class="table-primary">
                    <th scope="row">Enter task name :</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody class="border-1">
                <tr>
                    <td class="buttons-column">
                        <input asp-for="Name" class="form-control"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </td>
                    <td class="buttons-column">
                        <input type="hidden" asp-for="TaskId" />
                        <input type="submit" value="Add task" class="btn btn-success" />
                    </td>

                    <td class="buttons-column">
                        <a asp-action="Index" class="btn btn-secondary">Back</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}