@model TaskToDo_WebApp.Models.ToDoTask

@{
    ViewData["Title"] = "Insert Task";
}

<form asp-controller="Home" asp-action="Insert" id="form-action" method="post" class="form-horizontal" role="form">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10">
            <label class="form-label">Enter task name :</label>
            <input asp-for="TaskId" type="hidden" class="form-control" />
            <input asp-for="Name" class="form-control" ID="task" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10 mt-3 mb-5">
            <input type="submit" id="form-button" class="btn btn-success" value="Add task" />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10 mt-3 mb-5">
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}