@model TaskToDo_WebApp.Models.ToDoTask

@{
    ViewData["Title"] = "Update Task";
}

<div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10">
        <form asp-action="Update">
            <table class="table">
                <thead>
                    <tr class="table-primary">
                        <th scope="row">Update Task</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="border-1">
                    <tr>
                        <td class="buttons-column w-100">
                            <input asp-for="Name" class="form-control"/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </td>
                        <td class="buttons-column">
                            <input type="hidden" asp-for="TaskId" />
                            <input type="submit" value="Update" class="btn btn-primary" />
                        </td>

                        <td class="buttons-column">
                            <a asp-action="Index" class="btn btn-secondary">Back</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>